{
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "title": "REST API",
        "version": "1.0.0-beta"
    },
    "host": "api.openprovider.eu",
    "paths": {
        "/v1beta/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login with username and password",
                "operationId": "Login",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/authLoginRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/authLoginResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/contacts": {
            "get": {
                "tags": [
                    "ContactService"
                ],
                "summary": "List contacts",
                "operationId": "ListContacts",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Output limit.",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Output offset.",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Output ordering pattern. ASC / DESC.",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Order output by field (i.e. first_name).",
                        "name": "order_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Full or partial email address. Wildcard (*) can be used.",
                        "name": "email_pattern",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Full or partial last name. Wildcard (*) can be used.",
                        "name": "last_name_pattern",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Full or partial company name. Wildcard (*) can be used.",
                        "name": "company_name_pattern",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The username pattern.",
                        "name": "username_pattern",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Contact's role.",
                        "name": "role",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Retrieves objects with (1) or without (0) additional data.",
                        "name": "with_additional_data",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/contactListContactsResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ContactService"
                ],
                "summary": "Create contact",
                "operationId": "CreateContact",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/contactCreateContactRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/contactCreateContactResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/contacts/{id}": {
            "get": {
                "tags": [
                    "ContactService"
                ],
                "summary": "Get contact",
                "operationId": "GetContact",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Object ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Retrieves objects with (1) or without (0) additional data.",
                        "name": "with_additional_data",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/contactGetContactResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "ContactService"
                ],
                "summary": "Update contact",
                "operationId": "UpdateContact",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Object ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/contactUpdateContactRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/contactUpdateContactResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "ContactService"
                ],
                "summary": "Delete contact",
                "operationId": "DeleteContact",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Object ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/contactDeleteContactResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/customers": {
            "get": {
                "tags": [
                    "Customer"
                ],
                "summary": "List customers",
                "externalDocs": {
                    "description": "For more detailed information on this method check our guide",
                    "url": "https://openprovider.zendesk.com/knowledge/articles/360024737413"
                },
                "operationId": "ListCustomers",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Your reseller id is used by default. Other values not accepted.",
                        "name": "reseller_id",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Output limit.",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Output offset.",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Output ordering pattern. ASC / DESC.",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Order output by field (i.e. first_name).",
                        "name": "order_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Full or partial email address. Wildcard (*) can be used.",
                        "name": "email_pattern",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Full or partial company name. Wildcard (*) can be used.",
                        "name": "company_name_pattern",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Full or partial last name. Wildcard (*) can be used.",
                        "name": "last_name_pattern",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Full or partial first name. Wildcard (*) can be used.",
                        "name": "first_name_pattern",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Full or partial comment value. Wildcard (*) can be used.",
                        "name": "comment_pattern",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Full or partial handle name. Wildcard (*) can be used.",
                        "name": "handle_pattern",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Retrieves objects with (1) or without (0) additional data.",
                        "name": "with_additional_data",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/customerListCustomersResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Create customer",
                "externalDocs": {
                    "description": "For more detailed information on this method check our guide",
                    "url": "https://openprovider.zendesk.com/knowledge/articles/360024622893"
                },
                "operationId": "CreateCustomer",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/customerCreateCustomerRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/customerCreateCustomerResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/customers/verifications/emails/domains": {
            "get": {
                "tags": [
                    "EmailVerification"
                ],
                "summary": "List domain email verifications",
                "operationId": "ListDomainEmailVerifications",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "The domain id.",
                        "name": "domain_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The domain.",
                        "name": "domain",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The email.",
                        "name": "email",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The handle.",
                        "name": "handle",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The status.",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The description.",
                        "name": "description",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Is suspended.",
                        "name": "is_suspended",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The type.",
                        "name": "response.type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The to.",
                        "name": "response.to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "The limit.",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "The offset.",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/emailListDomainVerificationsResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/customers/verifications/emails/restart": {
            "post": {
                "tags": [
                    "EmailVerification"
                ],
                "summary": "Restart email verification",
                "operationId": "RestartEmailVerification",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/emailRestartEmailVerificationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/emailRestartEmailVerificationResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/customers/verifications/emails/start": {
            "post": {
                "tags": [
                    "EmailVerification"
                ],
                "summary": "Start email verification",
                "operationId": "StartEmailVerification",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/emailStartEmailVerificationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/emailStartEmailVerificationResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/customers/{handle}": {
            "get": {
                "tags": [
                    "Customer"
                ],
                "summary": "Get customer",
                "externalDocs": {
                    "description": "For more detailed information on this method check our guide",
                    "url": "https://openprovider.zendesk.com/knowledge/articles/360024737413"
                },
                "operationId": "GetCustomer",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Customer unique identifier or handle, which can be created via CreateCustomer API method",
                        "name": "handle",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Retrieves objects with (1) or without (0) additional data.",
                        "name": "with_additional_data",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/customerGetCustomerResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Customer"
                ],
                "summary": "Update customer",
                "externalDocs": {
                    "description": "For more detailed information on this method check our guide",
                    "url": "https://openprovider.zendesk.com/knowledge/articles/360024591034"
                },
                "operationId": "UpdateCustomer",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Customer unique identifier or handle, which can be created via CreateCustomer API method",
                        "name": "handle",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/customerUpdateCustomerRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/customerUpdateCustomerResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Customer"
                ],
                "summary": "Delete customer",
                "externalDocs": {
                    "description": "For more detailed information on this method check our guide",
                    "url": "https://openprovider.zendesk.com/knowledge/articles/360024591294"
                },
                "operationId": "DeleteCustomer",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Customer unique identifier or handle, which can be created via CreateCustomer API method",
                        "name": "handle",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/customerDeleteCustomerResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/dns/nameservers": {
            "get": {
                "tags": [
                    "NameserverService"
                ],
                "summary": "List nameservers",
                "operationId": "ListNameservers",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Nameserver name.",
                        "name": "name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Nameserver IP.",
                        "name": "ip",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Nameserver IPv6.",
                        "name": "ip6",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Nameserver name search pattern. Wildcatd (*) can be used.",
                        "name": "pattern",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/nameserverListNameserversResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "NameserverService"
                ],
                "summary": "Create nameserver",
                "operationId": "CreateNameserver",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/nameserverNameserver"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/nameserverCreateNameserverResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/dns/nameservers/groups": {
            "get": {
                "tags": [
                    "NsGroupService"
                ],
                "summary": "List groups",
                "operationId": "ListGroups",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Limits the number of objects in the output.",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Used to retrieve all objects from a certain offset up to the limit. (default value: 0).",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The order by.",
                        "name": "order_by",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Indicates if number of domains associated with the NS group should be returned.",
                        "name": "with_domain_count",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Indicates if number of nameservers associated with the NS group should be returned.",
                        "name": "with_ns_count",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "NS group name pattern. Wildcard (*) can be used.",
                        "name": "ns_group_pattern",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Nameserver name pattern. Wildcard (*) can be used.",
                        "name": "ns_name_pattern",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Nameserver IP address pattern. Wildcard (*) can be used.",
                        "name": "ns_ip_pattern",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/ns_groupListGroupsResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "NsGroupService"
                ],
                "summary": "Create group",
                "operationId": "CreateGroup",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ns_groupCreateGroupRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/ns_groupCreateGroupResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/dns/nameservers/groups/{ns_group}": {
            "get": {
                "tags": [
                    "NsGroupService"
                ],
                "summary": "Get group",
                "operationId": "GetGroup",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Plain text name of the nameserver group, which can consist of several nameservers with attached IPs. Once created in Openprovider reseller account, nameserver group can be reused for operations with domains.",
                        "name": "ns_group",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Nameserver group ID.",
                        "name": "id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/ns_groupGetGroupResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "NsGroupService"
                ],
                "summary": "Update group",
                "operationId": "UpdateGroup",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Plain text name of the nameserver group, which can consist of several nameservers with attached IPs. Once created in Openprovider reseller account, nameserver group can be reused for operations with domains.",
                        "name": "ns_group",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ns_groupUpdateGroupRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/ns_groupGroupBoolResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "NsGroupService"
                ],
                "summary": "Delete group",
                "operationId": "DeleteGroup",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Plain text name of the nameserver group, which can consist of several nameservers with attached IPs. Once created in Openprovider reseller account, nameserver group can be reused for operations with domains.",
                        "name": "ns_group",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/ns_groupGroupBoolResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/dns/nameservers/{name}": {
            "get": {
                "tags": [
                    "NameserverService"
                ],
                "summary": "Get nameserver",
                "operationId": "GetNameserver",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Nameserver name",
                        "name": "name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/nameserverGetNameserverResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "NameserverService"
                ],
                "summary": "Update nameserver",
                "operationId": "UpdateNameserver",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Nameserver name",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/nameserverNameserver"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/nameserverNameserverBoolResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "NameserverService"
                ],
                "summary": "Delete nameserver",
                "operationId": "DeleteNameserver",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Nameserver name",
                        "name": "name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/nameserverNameserverBoolResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/dns/templates": {
            "get": {
                "tags": [
                    "TemplateService"
                ],
                "summary": "List templates",
                "operationId": "ListTemplates",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Limits the number of objects in the output.",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Used to retrieve all objects from a certain offset up to the limit.",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Orders output ASC or DESC.",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Indicates if DNS records should be retrieved.",
                        "name": "with_records",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Template name pattern. Wildcard (*)can be used.",
                        "name": "name_pattern",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/templateListTemplatesResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "TemplateService"
                ],
                "summary": "Create template",
                "operationId": "CreateTemplate",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/templateCreateTemplateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/templateCreateTemplateResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/dns/templates/{id}": {
            "get": {
                "tags": [
                    "TemplateService"
                ],
                "summary": "Get template",
                "operationId": "GetTemplate",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Template ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/templateGetTemplateResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "TemplateService"
                ],
                "summary": "Delete template",
                "operationId": "DeleteTemplate",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Template ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/templateTemplateBoolResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/dns/zones": {
            "get": {
                "tags": [
                    "ZoneService"
                ],
                "summary": "List zones",
                "externalDocs": {
                    "description": "For more detailed information on this method check our guide",
                    "url": "https://support.openprovider.eu/hc/en-us/articles/360024168694"
                },
                "operationId": "ListZones",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Limits the number of objects in the output. (default value: 100, maximum value: 500).",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Used to retrieve all objects from a certain offset up to the. (default value: 0).",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "DNS zone creation date.",
                        "name": "order_by.creation_date",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Date the DNS zone was last modified.",
                        "name": "order_by.modification_date",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Name of the domain to which DNS zone corresponds.",
                        "name": "order_by.name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "DNS zone type (master or slave).",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "DNS zone name pattern. Wildcard (*) can be used.",
                        "name": "name_pattern",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Indicates, whether DNS records should be displayed in output.",
                        "name": "with_records",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Indicates, whether DNS zone history should be displayed in output.",
                        "name": "with_history",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Indicates, whether DNSSEC keys should be displayed in output.",
                        "name": "with_dnskey",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/zoneListZonesResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ZoneService"
                ],
                "summary": "Create zone",
                "externalDocs": {
                    "description": "For more detailed information on this method check our guide",
                    "url": "https://support.openprovider.eu/hc/en-us/articles/360023491794"
                },
                "operationId": "CreateZone",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/zoneCreateZoneRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/zoneZoneBoolResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/dns/zones/{name}": {
            "get": {
                "tags": [
                    "ZoneService"
                ],
                "summary": "Get zone",
                "externalDocs": {
                    "description": "For more detailed information on this method check our guide",
                    "url": "https://support.openprovider.eu/hc/en-us/articles/360024168694"
                },
                "operationId": "GetZone",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Name of the domain to which DNS zone corresponds",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "DNS zone ID.",
                        "name": "id",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Indicates, whether DNS records should be displayed in output.",
                        "name": "with_records",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Indicates, whether DNS zone history should be displayed in output.",
                        "name": "with_history",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Indicates, whether DNSSEC keys should be displayed in output.",
                        "name": "with_dnskey",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/zoneGetZoneResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "ZoneService"
                ],
                "summary": "Update zone",
                "externalDocs": {
                    "description": "For more detailed information on this method check our guide",
                    "url": "https://support.openprovider.eu/hc/en-us/articles/360024342733"
                },
                "operationId": "UpdateZone",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Name of the domain to which DNS zone corresponds",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/zoneUpdateZoneRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/zoneZoneBoolResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "ZoneService"
                ],
                "summary": "Delete zone",
                "externalDocs": {
                    "description": "For more detailed information on this method check our guide",
                    "url": "https://support.openprovider.eu/hc/en-us/articles/360024231654"
                },
                "operationId": "DeleteZone",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Name of the domain to which DNS zone corresponds",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "DNS zone ID.",
                        "name": "id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Domain name without extension.",
                        "name": "domain.name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Domain extension.",
                        "name": "domain.extension",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/zoneZoneBoolResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/dns/zones/{name}/records": {
            "get": {
                "tags": [
                    "ZoneRecordService"
                ],
                "summary": "List zone records",
                "operationId": "ListZoneRecords",
                "parameters": [
                    {
                        "type": "string",
                        "description": "DNS record name",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "DNS zone ID.",
                        "name": "zone_id",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "How many records to retrieve (default: 100, max 500).",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "From which record to retrieve (default: 0).",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Sorting type (ASC/DESC).",
                        "name": "order_by.type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Name of the field to sort results by.",
                        "name": "order_by.name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "DNS record name pattern. Wildcard (*) can be used.",
                        "name": "record_name_pattern",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "DNS record value pattern. Wildcard (*) can be used.",
                        "name": "value_pattern",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "DNS record type.",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "DNS record priority.",
                        "name": "prio",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "DNS record TTL.",
                        "name": "ttl",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/recordListZoneRecordsResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/domains": {
            "get": {
                "tags": [
                    "DomainService"
                ],
                "summary": "List domains",
                "operationId": "ListDomains",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Domain id number.",
                        "name": "order_by.id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The domain name.",
                        "name": "order_by.domain_name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Domain extension.",
                        "name": "order_by.domain_extension",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The order date.",
                        "name": "order_by.order_date",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The active date.",
                        "name": "order_by.active_date",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Domain expiration date.",
                        "name": "order_by.expiration_date",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Date on which domain will be renewed.",
                        "name": "order_by.renewal_date",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Domain status.",
                        "name": "order_by.status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The transfer date.",
                        "name": "order_by.transfer_date",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "The limit.",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "The offset.",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Domain id number.",
                        "name": "id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Domain extension.",
                        "name": "extension",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Date on which domain will be renewed.",
                        "name": "renewal_date",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The domain name pattern.",
                        "name": "domain_name_pattern",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Nameserver group name pattern.",
                        "name": "ns_group_pattern",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Domain status.",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The status not equal.",
                        "name": "status_not_equal",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The queue status.",
                        "name": "queue_status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Handle to filter by.",
                        "name": "contact_handle",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The comment pattern.",
                        "name": "comment_pattern",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "With history.",
                        "name": "with_history",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "With api history.",
                        "name": "with_api_history",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "With document list.",
                        "name": "with_document_list",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "With additional data.",
                        "name": "with_additional_data",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "When new gTLD is started it gets through several phases before it becomes available for registration to everybody (General availability or GA). There are several phases before GA when it is still possible to apply for a domain, but with some restrictions.",
                        "name": "application_mode",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "With verification email.",
                        "name": "with_verification_email",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Indicates, if registry EPP statuses should be retrieved.",
                        "name": "with_registry_statuses",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The to.",
                        "name": "response.to",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Indicates whether object is deleted.",
                        "name": "is_deleted",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/domainListDomainsResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "DomainService"
                ],
                "summary": "Create domain",
                "operationId": "CreateDomain",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/domainCreateDomainRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/domainCreateDomainResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/domains/additional-data": {
            "get": {
                "tags": [
                    "AdditionalData"
                ],
                "summary": "Get additional data",
                "operationId": "GetAdditionalData",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Domain name without extension.",
                        "name": "domain.name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Domain extension.",
                        "name": "domain.extension",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The operation.",
                        "name": "operation",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/additional_dataGetAdditionalDataResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/domains/additional-data/customers": {
            "get": {
                "tags": [
                    "CustomerAdditionalData"
                ],
                "summary": "Get data",
                "operationId": "GetData",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Domain name without extension.",
                        "name": "domain.name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Domain extension.",
                        "name": "domain.extension",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/customerGetDataResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/domains/check": {
            "post": {
                "tags": [
                    "DomainService"
                ],
                "summary": "Check domain",
                "operationId": "CheckDomain",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/domainCheckDomainRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/domainCheckDomainResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/domains/prices": {
            "get": {
                "tags": [
                    "PriceService"
                ],
                "summary": "Get price",
                "externalDocs": {
                    "description": "For more detailed information on this method check our guide",
                    "url": "https://support.openprovider.eu/hc/en-us/articles/360023776313"
                },
                "operationId": "GetPrice",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Domain name without extension.",
                        "name": "domain.name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Domain extension.",
                        "name": "domain.extension",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Domain operation.",
                        "name": "operation",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The idn script states what language or character set the domain name is in\nApplicable to: .actor, .ae.org, .airforce, .army, .art, .attorney, .auction, .band, .bar, .best, .br.com, .ceo, .cn.com, .college, .com, .com.de, .com.se, .consulting, .dance, .de.com, .degree, .democrat, .dentist, .design, .engineer, .eu.com, .eus, .feedback, .fm, .forsale, .frl, .fun, .futbol, .gal, .gb.net, .gives, .gr.com, .haus, .hiv, .host, .immobilien, .in.net, .info, .ink, .jp.net, .jpn.com, .kaufen, .kyoto, .lawyer, .love, .market, .me, .mex.com, .moda, .mortgage, .navy, .net, .ninja, .nrw, .online, .ooo, .org, .press, .protection, .pub, .pw, .quebec, .radio.am, .radio.fm, .realty, .rehab, .rent, .republican, .rest, .reviews, .rip, .rocks, .ru.com, .sa.com, .scot, .se.net, .security, .site, .social, .software, .space, .store, .tech, .theatre, .tickets, .top, .uk.com, .uk.net, .us.com, .us.org, .vet, .website, .wiki, .xn--4gbrim, .xn--55qx5d, .xn--5tzm5g, .xn--80asehdb, .xn--80aswg, .xn--c1avg, .xn--czru2d, .xn--i1b6b1a6a2e, .xn--io0a7i, .xn--mk1bu44c, .xn--ngbc5azd, .xn--nqv7f, .xn--t60b56a, .xn--tckwe, .xyz, .za.com.",
                        "name": "additional_data.idn_script",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Operation period.",
                        "name": "period",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/priceGetPriceResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/domains/trade": {
            "post": {
                "tags": [
                    "DomainService"
                ],
                "summary": "Trade domain",
                "operationId": "TradeDomain",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/domainTradeDomainRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/domainTradeDomainResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/domains/transfer": {
            "post": {
                "tags": [
                    "DomainService"
                ],
                "summary": "Transfer domain",
                "operationId": "TransferDomain",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/domainTransferDomainRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/domainTransferDomainResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/domains/{id}": {
            "get": {
                "tags": [
                    "DomainService"
                ],
                "summary": "Get domain",
                "operationId": "GetDomain",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Domain id number",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Domain name without extension.",
                        "name": "domain.name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Domain extension.",
                        "name": "domain.extension",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Domain IDN extension.",
                        "name": "domain.idn_extension",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Reseller id.",
                        "name": "reseller_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The queue status.",
                        "name": "queue_status",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Returns domain mutations history.",
                        "name": "with_history",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Returns domain API calls history.",
                        "name": "with_api_history",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Returns domain additional data.",
                        "name": "with_additional_data",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Retrurns registry details.",
                        "name": "with_registry_details",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Returns DNSSEC data.",
                        "name": "with_dnssec_data",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Returns domain abuse details.",
                        "name": "with_abuse_details",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Returns WPP data.",
                        "name": "with_whois_privacy_data",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Indicates, if registry EPP statuses should be retrieved.",
                        "name": "with_registry_statuses",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Indicates whether object is deleted.",
                        "name": "is_deleted",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/domainGetDomainResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "DomainService"
                ],
                "summary": "Update domain",
                "operationId": "UpdateDomain",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Domain id number",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/domainUpdateDomainRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/domainUpdateDomainResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "DomainService"
                ],
                "summary": "Delete domain",
                "operationId": "DeleteDomain",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Domain id number",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Reseller id.",
                        "name": "reseller_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Domain name without extension.",
                        "name": "domain.name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Domain extension.",
                        "name": "domain.extension",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Domain IDN extension.",
                        "name": "domain.idn_extension",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Type of deletion request.",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Deletes domain, skipping the soft quarantine.",
                        "name": "skip_soft_quarantine",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/domainDeleteDomainResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/domains/{id}/authcode": {
            "get": {
                "tags": [
                    "AuthCode"
                ],
                "summary": "Get auth code",
                "operationId": "GetAuthCode",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Domain id number",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Domain name without extension.",
                        "name": "domain.name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Domain extension.",
                        "name": "domain.extension",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Type of transfer authorization code. external (default) or internal (for internal transfers between reseller accounts in Openprovider only).",
                        "name": "auth_code_type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Indicates how authcode should be provisioned to domain owner. For ru / xn--p1ai domains only. Possible values: sms, email letter.",
                        "name": "sending_type",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/authcodeGetAuthCodeResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/domains/{id}/authcode/reset": {
            "post": {
                "tags": [
                    "AuthCode"
                ],
                "summary": "Reset auth code",
                "operationId": "ResetAuthCode",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Domain id number",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/authcodeResetAuthCodeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/authcodeResetAuthCodeResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/domains/{id}/last-operation/restart": {
            "post": {
                "tags": [
                    "DomainService"
                ],
                "summary": "Try again last operation",
                "operationId": "TryAgainLastOperation",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Domain id number",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/domainTryAgainLastOperationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/domainTryAgainLastOperationResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/domains/{id}/renew": {
            "post": {
                "tags": [
                    "DomainService"
                ],
                "summary": "Renew domain",
                "operationId": "RenewDomain",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Domain id number",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/domainRenewDomainRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/domainRenewDomainResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/domains/{id}/restore": {
            "post": {
                "tags": [
                    "DomainService"
                ],
                "summary": "Restore domain",
                "operationId": "RestoreDomain",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "int32",
                        "description": "Domain id number",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/domainRestoreDomainRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "schema": {
                            "$ref": "#/definitions/domainRestoreDomainResponse"
                        }
                    },
                    "default": {
                        "description": "(empty)",
                        "schema": {
                            "$ref": "#/definitions/errorError"
                        }
                    }
                }
            }
        },
        "/v1beta/domains/{id}/transfer/approve": {
            "post": {
                "tags": [
                    "DomainService"
                ],
                "summary": "Approve transfer",
                "operationId": "ApproveTransfer",
                "parameters": [
                    {
[...]
